<!DOCTYPE html>

<html>
	<head>
		<title>Lottery Random Number Generator</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
		<link href='/css/stylesheet.css' rel="stylesheet">
		<script src="/angular/angular.js"></script>
		<script src="/js/module.js"></script>
		<script src="/js/lottery.controller.js" defer></script>
		<script src="/js/lottery.factory.js" defer></script>
		<!-- Might wanna add more shit here -->
	</head>
	<body ng-app="lotteryRng" class='background'>
		<div class='container-fluid' ng-controller="lotteryCtrl">
			<h1>Lottery Random Number Generator</h1>
			<h6>You can't win if you dont play</h6>
			<p>Please click on a Lottery Game Button to select the game you would like to play</p>
			<div>
				<div>
					<button ng-click='getMegaMillions()' type='button' class='btn btn-success-outline btn-lg'>MegaMillions</button>
					<button ng-click='getPowerball()' type='button' class='btn btn-success-outline btn-lg'>Powerball</button>
					<button ng-click='getPlay3()' type='button' class='btn btn-success-outline btn-lg'>Play 3</button>
					<button ng-click='getPlay4()' type='button' class='btn btn-success-outline btn-lg'>Play 4</button>
					<button ng-click='getLucky4Life()' type='button' class='btn btn-success-outline btn-lg'> Lucky 4 Life</button>
				</div>
				<h1 ng-hide='hidden'>Your Numbers Are:</h1>
				<h2 ng-repeat="number in nums track by $index" id='numbers'>{{number}}</h2>
				<h3 id='info'>{{info}}</h3>
				<h4 id='info'> The current jackpot is: {{value}}</h4>
			</div>
		</div>
	</body>
	<footer id=footer>
		Please Play Responsibly
	</footer>
</html>