<!DOCTYPE html>

<html>
	<head>
		<title>Lottery Random Number Generator</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
		<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
		<link href='stylesheet.css' rel="stylesheet">
		<script src="/angular/angular.js"></script>
		<script src="/module.js"></script>
		<script src="/lottery.controller.js" defer></script>
		<script src="/lottery.factory.js" defer></script>
		<!-- Might wanna add more shit here -->
	</head>
	<body ng-app="lotteryRng" class='background'>
		<div class='container-fluid' ng-controller="lotteryCtrl">
			<h1>HELLO W0rLd</h1>
			<h6>About</h6>
			<p>Please click on a Lottery Game Button to select the game you would like to play</p>
			<div>
				<div>
					<button ng-click='getMegaMillions()' type='button' class='btn btn-danger-outline btn-lg'>MegaMillions</button>
					<button ng-click='getPowerball()' type='button' class='btn btn-danger-outline btn-lg'>Powerball</button>
				</div>
				<h1>Your Numbers ARE:</h1>
				<h2 ng-repeat="number in nums">{{number}}</h2>
				<h4>{{info}}</h4>
			</div>
		</div>
	</body>
</html>