.background {
	background: url('sky.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

.container {
	display: flex
}

body {
	color: rgb(255,255,255);
	font-family: monospace;
	font-weight: 600;
	text-align: center
}

#info, #numbers{
	color: #F44336;
	font-weight: 400;
}

@media only screen and (max-width: 900px) {
	#info, #numbers{
		color: #263238;
		font-weight: 400;
	}
}